---
import "../styles/main.css";

// components
import Overview from "../components/Overview.astro";
import Summary from "../components/Summary.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap"
      rel="stylesheet"
    />
    <title>Astro</title>
  </head>
  <body>
    <main>
      <article class="card">
        <Overview />
        <Summary />
      </article>
    </main>
  </body>
</html>
